# .env file
DATABASE_USER=
DATABASE_PASSWORD=
SECRET_KEY =
DEBUG =

EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
EMAIL_HOST =
EMAIL_PORT =
EMAIL_USE_TLS =

key_id=
key_secret=
# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

